* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    /* max-width: 1600px; */
}
.navbar {
    color: #000000;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 139px;
    /* margin-left: 120px; */
}
.nav-links a {
    margin: 0 34px;
    margin-left: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn {
    padding: 12.5px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
}

.btn-outline {
    border: 1px solid #fff;
    color: #FFFFFF;
}

.banner {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 34px;
}

.banner-content {
    /* max-width: 750px; */
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #FFFFFF;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner h1 span {
    color: #30B868;
}

.banner p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


